// Button Mixins
// =============

@mixin button-base {
  padding: 2px 12px;
  border: 1px solid $borders_color;
  border-radius: 4px;
  background: $button_bg_classic;
  color: $fg_color;
  font-weight: normal;
  font-family: "System", -apple-system, "Chicago", sans-serif;
  font-size: 12px;
  min-height: 20px;
  min-width: 60px;
  
  // Classic System 7 3D effect
  box-shadow: 
    inset 1px 1px 0 $button_highlight,
    inset -1px -1px 0 $button_shadow,
    1px 1px 0 rgba(0, 0, 0, 0.25);
  
  &:hover {
    // System 7 didn't have hover states, but we'll add subtle feedback
    background: lighten($button_bg_classic, 5%);
  }
  
  &:active,
  &:checked {
    // Inverted shadow for pressed state
    box-shadow: 
      inset -1px -1px 0 $button_highlight,
      inset 1px 1px 0 $button_shadow,
      inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background: darken($button_bg_classic, 5%);
  }
  
  &:disabled {
    background: $insensitive_bg_color;
    color: $insensitive_fg_color;
    border-color: $unfocused_borders_color;
    box-shadow: none;
  }
  
  &:focus {
    // Thick black border for focus (System 7 style)
    outline: 3px solid $borders_color;
    outline-offset: -3px;
  }
}

@mixin button-suggested {
  background: linear-gradient(to bottom, lighten($selected_bg_color, 5%), darken($selected_bg_color, 5%));
  color: $selected_fg_color;
  border-color: darken($selected_bg_color, 10%);
  
  &:hover {
    background: linear-gradient(to bottom, lighten($selected_bg_color, 10%), $selected_bg_color);
  }
  
  &:active,
  &:checked {
    background: linear-gradient(to bottom, darken($selected_bg_color, 10%), darken($selected_bg_color, 5%));
  }
}

@mixin button-destructive {
  background: linear-gradient(to bottom, lighten($error_color, 5%), darken($error_color, 5%));
  color: $selected_fg_color;
  border-color: darken($error_color, 10%);
  
  &:hover {
    background: linear-gradient(to bottom, lighten($error_color, 10%), $error_color);
  }
  
  &:active,
  &:checked {
    background: linear-gradient(to bottom, darken($error_color, 10%), darken($error_color, 5%));
  }
}

@mixin button-flat {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  
  &:hover {
    background: transparentize($fg_color, 0.9);
  }
  
  &:active,
  &:checked {
    background: transparentize($fg_color, 0.8);
  }
}